<fieldset>
    <legend>
        Employee Info
    </legend>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <UXC_TextBox CssClass="form-control" Placeholder="ID"></UXC_TextBox>
            </div>
            <div class="col-md-6">
                <UXC_TextBox CssClass="form-control" Placeholder="Name"></UXC_TextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <UXC_TextBox CssClass="form-control" Placeholder="Designation"></UXC_TextBox>
            </div>
            <div class="col-md-6">
                <UXC_TextBox CssClass="form-control" Placeholder="Department"></UXC_TextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <UXC_TextBox CssClass="form-control" Placeholder="Employee Type"></UXC_TextBox>
            </div>
            <div class="col-md-6">
                <UXC_TextBox CssClass="form-control" Placeholder="Location"></UXC_TextBox>
            </div>
        </div>
    </div>
</fieldset>

@code {

}
